# Udev rules for X-AT rot control board

# X-AT arduino board (libusb)
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60c3", MODE="0664", GROUP="plugdev"

# X-AT arduino board (hidraw)
KERNEL=="hidraw*", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60c3", MODE="0664", GROUP="plugdev"
